<ion-header>
  <ion-navbar style="min-height: 40px;">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #e0e0e0;">
  <div>
    <form #form="ngForm" novalidate>
      <ion-item>
        <ion-input type="text" placeholder="Search"></ion-input>
        <ion-icon item-right name="search" md="md-search"></ion-icon>
      </ion-item>
    </form>
  </div>
  <div style="width: 100%; height: auto; padding-top: 5%">
    <div padding>
      <ion-slides slidesPerView="4">
        <ion-slide>
          <button ion-fab (click)="postCategoryFunc('desktop')"><ion-icon name="desktop" md="md-desktop"></ion-icon></button>
        </ion-slide>
        <ion-slide>
          <button ion-fab (click)="postCategoryFunc('car')"><ion-icon name="car" md="md-car"></ion-icon></button>
        </ion-slide>
        <ion-slide>
          <button ion-fab (click)="postCategoryFunc('home')"><ion-icon name="home" md="md-home"></ion-icon></button>
        </ion-slide>
        <ion-slide>
          <button ion-fab (click)="postCategoryFunc('job')"><ion-icon name="briefcase" md="md-briefcase"></ion-icon></button>
        </ion-slide>
        <ion-slide>
          <button ion-fab (click)="postCategoryFunc('phone')"><ion-icon name="phone-portrait" md="md-phone-portrait"></ion-icon></button>
        </ion-slide>
        <ion-slide>
          <button ion-fab (click)="postCategoryFunc('contacts')"><ion-icon name="contacts" md="md-contacts"></ion-icon></button>
        </ion-slide>
        <ion-slide>
          <button ion-fab (click)="postCategoryFunc('shirt')"><ion-icon name="shirt" md="md-shirt"></ion-icon></button>
        </ion-slide>
        <ion-slide>
          <button ion-fab (click)="postCategoryFunc('construct')"><ion-icon name="construct" md="md-construct"></ion-icon></button>
        </ion-slide>
      </ion-slides>
    </div>
  </div>

  <div style="margin-top: 25px;">
    <ion-slides>
      <ion-slide *ngFor="let item of post">
        <ion-card style="background-color: #e0e0e0;" (click)="postDetailFunc(item)">
          <div style="position: relative;">
            <ion-icon name="bookmark" style="position: absolute;left: 1px;font-size: 30px;color: white;top: -4px"></ion-icon>
            <img src="assets/advance-card-bttf.png" *ngIf="item.imgName">
            <img [src]="appConfig + item.imgName" height="250px" *ngIf="!item.imgName">
          </div>
          <ion-row style="border-top: #0088ff 2px solid; background-color: white">
            <ion-col style="text-align: left">
              <p style="font-size: 18px; font-weight: 400"><span></span>{{item.title}}</p>
            </ion-col>
            <ion-col style="text-align: right">
              <p style="font-size: 18px; font-weight: 400"><span>Price</span>:&nbsp;{{item.price}}.Rs</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div style="margin-top: 25px;">
    <ion-slides>
      <ion-slide *ngFor="let item of userPost">
        <ion-card style="background-color: #e0e0e0;" (click)="postDetailFunc(item)">
          <div style="position: relative;">
            <img src="assets/advance-card-bttf.png" *ngIf="item.imgName">
            <img [src]="appConfig + item.imgName" height="250px" *ngIf="!item.imgName">
          </div>
          <ion-row style="border-top: #0088ff 2px solid; background-color: white">
            <ion-col style="text-align: left">
              <p style="font-size: 18px; font-weight: 400"><span></span>{{item.title}}</p>
            </ion-col>
            <ion-col style="text-align: right">
              <p style="font-size: 18px; font-weight: 400"><span>Price</span>:&nbsp;{{item.price}}</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="md-add-circle" style="font-size: 45px" (click)="addpostFunc()"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- <div style="position: fixed;right: 20px;bottom: 10px;" (click)="addpostFunc()">

    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
      </button>
  </div>-->

  <div *ngIf="this.post.length == 0">
    <ion-card>
      <ion-card-header>
        Note
      </ion-card-header>

      <ion-card-content>
        No Post Availabe
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>