<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #e0e0e0;">

  <div style="margin-top: 25px;">
    <ion-card *ngFor="let item of post">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/download.jpg">
        </ion-avatar>
        <ion-icon name="more" md="md-more" style="float: right"></ion-icon>
        <h2>Marty McFly</h2>
        <p>November 5, 1955</p>
      </ion-item>
      <img [src]="appConfig + item.imgName" height="250px">

      <ion-card-content>
        <p><span>Title</span>:{{item.title}}</p>
        <p><span>Description</span>:{{item.description}}</p>
        <p><span>Category</span>:{{item.category}}</p>
      </ion-card-content>


      <ion-row style="border-top: #0088ff 2px solid">
        <ion-col>
          <span *ngIf="exist">
          <button ion-button icon-left clear small (click)="isLike(item)" *ngIf="item.isLike==true">
             <ion-icon name="thumbs-up" md="md-thumbs-up"></ion-icon>
             <div>Like</div>
           </button>
           <button ion-button icon-left clear small (click)="isLike(item)" *ngIf="item.isLike==false" style="color: black">
              <ion-icon name="thumbs-up" md="md-thumbs-up" ></ion-icon>
              <div>Like</div>
          </button>
          </span>
        </ion-col>

        <ion-col center text-center>
          <ion-note style=" color: black;position: relative; top: 2px;left: 20px;">
            {{ item.createTime | date:"MM/dd/yy"}}
          </ion-note>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>

  <div style="position: fixed;right: 20px;bottom: 10px;" (click)="addpostFunc()">

    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
      </button>
  </div>

  <div *ngIf="this.post.length == 0">
    <ion-card>
      <ion-card-header>
        Note
      </ion-card-header>

      <ion-card-content>
        No Post Availabe
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>